html,
body
{
    overflow-x: hidden;
    background-color: var(--meos-blue-dark);
}

.meosheader
{
    color: white;
    background-color: black;
    padding: 0.25em;
}

.largebtn
{
    aspect-ratio: 1/1;
    background-color: var(--meos-blue-dark);
}

.largeicon
{
    font-size: 5em;
}

.text-centre
{
    text-align: center;
}

.buttonlefticon
{
    font-size: 1.75em;
}

.hover-opacity-quarter:hover
{
    opacity: 0.75;
}

.text-small
{
    font-size: 0.5em;
}

.largebtn > span
{
    font-size: .8em;
}